body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #a04848;
}

button {
    padding: 10px 20px;
    background-color: #894caf;
    color: rgb(228, 116, 116);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1be625;
}
