body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #a04848;
}

button {
    padding: 10px 20px;
    background-color: #f4e6dd;
    color: rgb(7, 0, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1b62e6;
}
